//Colors

$black: #000000;
$white: #ffffff;
$light: #FCFCFC;
$blue: #003B72;
$lightblue: #50CAFF;
$purple: #7761FF;
$lightpurple: #EBE7FF;

$background-color: $light;
$header-color: $lightblue;

$text-color: $black;
$text-color-alt: $white;

$defaul-color: $white;
$primary-color: $blue;
$secondary-color: $purple;

$link-color: $lightblue;
$sub-color: $lightpurple;

$defaul-shadow: 0px 0px 5px #EBE7FF;


//Gap


$border-radius: 5px;

$side-width: 190px;
$header-height: 55px;