@import '../../assets/scss/vars.scss';

.sideNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sideNav__item {
  margin-bottom: 10px;
}

.sideNav__itemLink {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 14px;
  color: $text-color-alt;
  * {
    fill: $text-color-alt;
  }
  &:hover {
    color: $secondary-color;
    * {
      fill: $secondary-color;
    }
  }
  &_active {
    background-color: $background-color;
    color: $secondary-color;
    * {
      fill: $secondary-color;
    }
  }
}

.sideNav__icon {
  max-width: 18px;
  max-height: 18px;
  margin-right: 14px;
  svg {
    width: 100%;
  }
}
