@import '../../assets/scss/vars.scss';

.electronCard {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 1900px) {
  .electronCard {
    grid-template-columns: 1fr 1fr 1fr;
  }
}